/*
// Key Colours
	- White     : #f1f1f1
	- Orange    : #f7921e
	- Dark Grey : #515151

// Button Colours
	- Green	    : #51ec7c
	- Blue	    : #51e7ec
*/


/*############################################*/

/*  SCREENSIZE DISPLAY CLASSES  */

    .desktop {display: block;}
    .mobile {display: none;}

/**/


/*  SCREENSIZE LOGGER  */

    .screen-size {
        position: fixed;
        height: auto;
        width: auto;
        background-color: #f1f1f1;
        opacity: 0.4;
        top: 0;
        right: 0;
        z-index: 5;
    }

    .screen-size p {
        padding: 5px 10px;
        font-size: 1em;
        color: #515151;
    }

/**/

/*############################################*/


/*  PANEL THEME STYLING  */

    /* FOR DARK GREY PANELS */

    .dark-theme {
        background-color: #515151;
        color: #f1f1f1;
    }

    .dark-theme span {
        color: #f7921e;
        font-weight: bold;
    }

    .dark-theme hr {
        border: none;
        border-top: 3px solid #f1f1f1;
        opacity: 0.5;
    }

    .dark-theme ::selection {
        color: #f1f1f1;
        background: #f7921e;
    }


    /* FOR WHITE PANELS */

    .light-theme {
        background-color: #f1f1f1;
        color: #515151;
    }

    .light-theme span {
        color: #f7921e;
        font-weight: bold;
    }

    .light-theme hr {
        border: none;
        border-top: 3px solid #515151;
        opacity: 0.7;
    }

    .light-theme ::selection {
        color: #f1f1f1;
        background: #f7921e;
    }


    /* FOR ORANGE PANELS */

    .orange-theme {
        background-color: #f7921e;
        color: #f1f1f1;
    }

    .orange-theme span {
        color: #515151;
        font-weight: bold;
    }

    .orange-theme hr {
        border: none;
        border-top: 3px solid #515151;
        opacity: 0.7;
    }

    .orange-theme ::selection {
        color: #f1f1f1;
        background: #515151;
    }

/**/

/*############################################*/


/*  ALIGNMENT CLASSES  */

    .vertical-align {
        top: 50%;
        transform: translateY(-50%);
    }

    .horizontal-align {
        left: 50%;
        transform: translateX(-50%);
    }

    .both-align {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

/**/


/*  INITIAL STYLING  */

    h1 {
        font-size: 8em;
    }

    h2 {
        font-size: 6em;
    }

    h3 {
        font-size: 3em;
    }

    h4 {
        font-size: 2.5em;
    }

    p , li {
        font-size: 2em;
        white-space: normal;
    }

    blockquote {
        font-size: 1.5em;
    }

/**/


/*  CONTENT STYLING  */

    .panel {
        position: relative;
        white-space: nowrap;
        background-size: cover;
        background-position: center center;
        overflow: hidden;
    }

    .content-box {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
    }

    .box-left {
        left: 0;
    }

    .box-right {
        right: 0;
    }

    .box-panel-text {
        position: absolute;
        width: 80%;
        height: auto;
        margin: auto 0;
    }

/**/


/*  BUTTON STYLING  */

    button {
        margin: auto;
        color: #f1f1f1;
        background-color: #51ec7c;
    }

    button h3 {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    button h4 {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    button i {
        padding-top: 4px;
        position: absolute;
        font-size: 1.5em;
        right: 15px;
    }

    .primary-button {
        position: absolute;
        height: 80px;
        width: 30%;
        min-width: 400px;
        border-radius: 40px;
        box-shadow: 0 5px rgba(0, 0, 0, 0.3);
        bottom: 20%;
    }

    .primary-button:active {
        box-shadow: 0 2px rgba(0, 0, 0, 0.5);
        left: 50%;
        transform: translateY(3px) translateX(-50%);
    }

    .secondary-button {
        position: relative;
        height: 65px;
        width: 60;
        min-width: 400px;
        border-radius: 10px;
        box-shadow: 0 5px rgba(0, 0, 0, 0.5);
    }

    .tertiary-button {
        position: relative;
        height: 65px;
        width: 48%;
        margin-left: 2%;
        background-color: #51e7ec;
        border-radius: 10px;
        box-shadow: 0 5px rgba(0, 0, 0, 0.5);
    }

    .secondary-button:active , .tertiary-button:active {
        box-shadow: 0 2px rgba(0, 0, 0, 0.8);
        transform: translateY(3px);
    }

/**/

/*############################################*/


/*  LOADING DIALOG BOX  */

    .loading-overlay {
        position: fixed;
        background: #515151;
        width: 100%;
        height: 100vh;
        z-index: 500;
    }

    .loading-box {
        display: block;
        position: relative;
        margin: 0 auto;
        height: 10vh;
        width: 10vh;
        animation: slideIn 150ms ease-in-out;
    }

    .loading-ring {
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: 50%;
    }

    #loading-back {
        top: -1em;
        left: -1em;
        border: 1em solid #f1f1f1;
        opacity: 0.3;
        box-shadow: 0 2px 0 1px;
    }

    #loading-front {
        top: -1em;
        left: -1em;
        border: 1em solid transparent;
        border-top: 1em solid #f7921e;
        z-index: 1;
        animation: spin 800ms ease-in-out;
        animation-iteration-count: 3;
    }

    @keyframes spin {
        from {transform: rotate(0deg);}   
        to {transform: rotate(360deg);}
    }

    @keyframes slideIn {
        from {
            transform: translateY(250px);
            opacity: 0;
        }
        to {
            transform: translateY(-50%);
            opacity: 1;
        }
    }

/**/


/*  FEATURES POPUP BOX  */

    .features-overlay {
        position: fixed;
        height: 100vh;
        width: 100%;
        background: rgba(0,0,0,0.8);
        transition: all 200ms ease-in-out;
        z-index: 500;
        visibility: hidden;
        opacity: 0;
        transition: all 300ms ease-in-out
    }

    .features-visible {
        visibility: visible;
        opacity: 1;
    }

    .features-box-container {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateY(-50%);
        opacity: 0;
        transition: all 300ms ease-in-out;
    }

    .features-slide {
        transform: translateY(0);
        opacity: 1;
    }

    .features-box {
        position: relative;
        display: block;
        height: 90vh;
        width: 60%;
        background-color: #515151;
        white-space: normal;
        border-radius: 10px;
        margin: 0 auto;
    }

    .features-text {
        position: absolute;
        height: 90%;
        border-radius: 10px 10px 0 0;
        padding: 0 5%;
        color: #f1f1f1;
        overflow-y: scroll;
    }

    .features-text h2{
        margin: 20px 0 10px 0;
        text-align: center;
    }

    .features-text hr{
        margin-bottom: 20px;
    }

    .features-text h3 {
        margin-bottom: 15px;
    }

    .features-text ul {
        width: 90%;
        margin: 0 auto;
        list-style-type: square;
        list-style-position: inherit;
    }

    .features-list {
        width: 90%;
    }

    .features-close {
        position: absolute;
        height: 10%;
        width: 100%;
        bottom: 0;
        text-align: center;
        color: #f1f1f1;
        background-color: #727272;
        border-radius: 0 0 10px 10px;
        cursor: pointer;
        transition: all 150ms ease-in-out;
        z-index: 600;
    }

    .features-close:hover {
        background-color: #919191;
    }

    .features-close:active {
        color: rgba(255,255,255,0.5);
        background-color: #666;
    }

    .features-close p {
        position: absolute;
        width: 100%;
    }
/**/

/*############################################*/


/*  PANEL 01  */

    #panel-01 {
        height: 100vh;
        z-index: 2;
    }

    #panel-01 .panel-text {
        width: 100%;
        position: absolute;
        top: 25%;
    }

    #panel-01 h1 {
        text-align: center;
        padding-bottom: 20px;
    }

    #panel-01 hr {
        width: 70%;
        max-width: 800px;
        min-width: 400px;
        margin: 0 auto 25px auto;
    }

    #panel-01 h3 {
        text-align: center;
    }

    .logo {
        position: absolute;
        width: 10%;
        max-width: 150px;
        min-width: 100px;
        top: 20px;
        left: 20px;
        z-index: 100;
    }

    #scroll-icon {
        position: absolute;
        margin: auto 0;
        width: 3%;
        height: auto;
        max-width: 40px;
        min-width: 30px;
        opacity: 0.5;
        bottom: 5%;
        z-index: 100;
    }

/**/


/*  PANEL 01 - PARALLAX  */

    .hero-parallax-container {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url(img/backgrounds/bike01_back.jpg);
        background-size: auto 100%;
        background-position: center center;
        background-attachment: fixed;
        overflow: hidden;
    }

    .para-fore {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 15;
    }

    .para-mid {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .para-back {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(img/backgrounds/bike01_fore.png);
        background-size: cover;
        background-position: center center;
        z-index: 5;
    }

/**/


/*  PANEL 02  */

#panel-02 {
    height: 700px;
    background-image: url(img/backgrounds/bike02.jpg);
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    z-index: 3;
}

#panel-02 h2 {
    padding-bottom: 15px;
}

#panel-02 hr {
    margin: 0 auto 20px auto;
}

#panel-02 p {
    margin-bottom: 30px;
}

/**/


/* ANIMATED MOCKUPS */

    .mockup-container {
        position: relative;
        margin: 0 auto;
        right: 5%;
        width: 80%;
        transform: translateZ(0);    
    }

    .mockup-container-lower {
        position: relative;
        margin: 0 auto;
        width: 80%;
        transform: translateZ(0);    
    }

    .mockup-back {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-10%) translateZ(0);
        opacity: 0;
        transition: all 800ms ease-in-out;
    }


    .mockup-front {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(10%) translateZ(0);
        opacity: 0;
        transition: all 800ms ease-in-out;
        transition-delay: 300ms;
    }

    .mockup-back-showing {
        opacity: 1;
        transform: translateY(-50%) translateX(0) translateZ(0);
    }

    .mockup-front-showing {
        opacity: 1;
        transform: translateY(-50%) translateX(0) translateZ(0);
    }

    .mockup-back-upper {} /* Used as parallax.js selector class */
    .mockup-front-upper {} /* Used as parallax.js selector class */
    .mockup-back-lower {} /* Used as parallax.js selector class */
    .mockup-front-lower {} /* Used as parallax.js selector class */

/**/


/* FADE-IN TRANSITION CLASS */

    .anim-fade {
        opacity: 0.5;
        transition: all 200ms ease-in-out;
    }

    .anim-fade:hover , .anim-fade:active {
        opacity: 1;
    }

/**/


/*  PANEL 03  */

    #panel-03 {
        height: auto;
        background-image: url(img/backgrounds/bike03.jpg);
        background-attachment: fixed;
        z-index: 2;
    }

    #panel-03 h2 {
        padding: 20px 0 15px 0;
        text-align: center;
    }

    #panel-03 hr {
        width: 70%;
        max-width: 800px;
        min-width: 400px;
        margin: 0 auto;
    }

    #panel-03 hr:nth-child(3) {
        margin-bottom: 50px;
    }

    #panel-03 h3 {
        font-size: 2.4em;
        margin-bottom: 3vw;
        color: #515151;
        cursor: pointer;
        transition: all 100ms ease-in-out;
    }

    #panel-03 h3:hover , #panel-03 h3:active {
        color: #f1f1f1;
    }


    #panel-03 h3:nth-child(4) {
        margin-bottom: 0;
    }

/**/


.slideshow-container {
    position: relative;
    width: 100%;
    height: 42vw;
    text-align: center;
}

.slideshow-col-small {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 30%;
    text-align: left;
}

.slideshow-col-image {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 30%;    
}

.slideshow-text-left {
    position: absolute;
    left: 0;
}

.slideshow-text-right {
    position: absolute;
    right: 0;
}


[class^="icon-icon"]:before, [class*=" icon-icon"]:before {
    font-size: 1.8em;
    vertical-align: middle;
}

.slideshow-col-image img {
    position: absolute;
    display: block;
    width: 85%;
    border: solid 15px #515151;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.page-image {
    opacity: 0;
    transition: all 150ms ease-in-out;
}



/*  PANEL 04  */

    #panel-04 {
        height: 700px;
        background-image: url(img/backgrounds/bike04.jpg);
        background-position: right center;
        box-shadow: 0 0 50px rgba(0,0,0,0.5);
        z-index: 3;
    }

    #panel-04 .secondary-button {
        width: 48%;
        min-width: inherit;

    }

    #panel-04 h2 {
        padding-bottom: 15px;
    }

    #panel-04 hr {
        margin: 0 auto 20px auto;
    }

    #panel-04 p {
        margin-bottom: 30px;
    }

    .haynes-covers {
        width: 100%;
        height: 100%;
        background-image: url(img/backgrounds/haynes_covers01.jpg);
        background-size: 50% auto;
        background-attachment: fixed;
        background-repeat: repeat-y;
    }

    .haynes-covers-mobile {
        width: 100%;
        height: 100%;
        background-image: url(img/backgrounds/haynes_covers01.jpg);
        background-size: auto 100%;
        background-repeat: repeat-x;
        overflow: hidden;
        animation: slider 6s linear infinite;
        transform: translate3d(0,0,0);
        box-shadow: 0 1px 20px 10px rgba(0,0,0,0.3)
    }

    @keyframes slider {
        from { background-position: 0}
        to {background-position: 227px} /* 46.7% of original size */
    }

/**/


/*  PANEL 05  */

    #panel-05 {
        height: 650px;
        background-image: url(img/backgrounds/bike05.jpg);
        background-attachment: fixed;
        z-index: 2;
    }

    #panel-05 h2 {
        padding: 50px 0 15px 0;
        text-align: center;
    }

    #panel-05 .panel-text hr {
        width: 80%;
        max-width: 900px;
        min-width: 400px;
        margin: 0 auto 25px auto;
    }

/**/


/*  REVIEWS  */

    .reviews-scroller {
        position: relative;
        height: auto;
        width: 60%;
        max-width: 900px;
        min-width: 600px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 100px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .reviews-content {
        position: relative;
        display: inline-block;
        height: auto;
        width: 100%;
        max-width: 900px;
        min-width: 600px;
        margin: 0;
    }

    .reviews-spacer {
        position: relative;
        display: inline-block;
        height: auto;
        width: 20%;
    }

    .review-box h3 {
        padding-bottom: 10px;
        display: inline-block;
    }

    .review-box hr {
        width: 100%;
        max-width: 100%;
        min-width: none;
        margin-bottom: 15px;
    }

    .avatar {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        width: 25%;
        opacity: 0.7;
    }

    .review-box {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 2%;
        width: 73%;
        white-space: normal;
    }

    .review-stars {
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 5px;
        font-size: 2.5em;
        color: #f7921e;
    }

    .icon-star {
        margin: -10px;
    }

    .icon-star-half {
        margin: -16px;
    }

    [class^="icon-star"]:before, [class*=" icon-star"]:before {
        margin-left: .2em;
    }

/**/


/*  PANEL 06  */

    #panel-06 {
        margin-bottom: 100px;
        height: 700px;
        background-image: url(img/backgrounds/bike06.jpg);
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        z-index: 3;
    }

    #panel-06 .box-panel-text {
        text-align: center;
    }

    #panel-06 h1 {
        padding-bottom: 20px;
    }

    #panel-06 hr {
        margin-bottom: 25px;
    }

    #panel-06 .primary-button {
        position: relative;
        display: block;
        margin: 90px 0 25px 0;
    }

    #panel-06 a {
        font-size: 1.2em;
        text-decoration: underline;
    }

/**/


/*  FOOTER  */

    footer {
        margin: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        font-size: 1.2em;
        color: #f1f1f1;
        background: #515151;
        z-index: 1;
        transform: translateZ(0);
    }

    footer span {
        display: block;
        position: relative;
        font-weight: bold;
        padding: 10px 0 5px 0;
    }

    footer a {
        display: inline-block;
        position: relative;
        text-decoration: underline;
        padding: 10px;
    }

    footer .panel-text {
        padding: 10px 0;
        font-size: 1em;
    }

/**/

